img {
    height: 4rem;
    justify-content: center;
}

.header {
    justify-content: center;
    height: 10%;
}

span {
    display: flex;
    align-items: center;

}

h1 {
    padding-left: 0.25rem;
    font-size: 2rem;
}
